.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error {
  color: red;
}

.no-error {
  color: green;
}

.rows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: beige;

}